# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [12]:
# import numpy and pandas
import pandas as pd 
import numpy as np
from scipy import stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:
pokemon.groupby(by='Legendary').count()['#']

Legendary
False    735
True      65
Name: #, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here:

pokemon[pokemon['Legendary'] == False]['Total'].mean()

417.21360544217686

In [9]:
pokemon[pokemon['Legendary'] == False]['Total'].std()

106.76041745713022

In [10]:
pokemon[pokemon['Legendary'] == True]['Total'].mean()

637.3846153846154

In [11]:
pokemon[pokemon['Legendary'] == True]['Total'].std()

60.93738905315346

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [ ]:
H0: both means are equal
H1: both means are different

In [14]:
# Your code here:
st.ttest_ind(pokemon[pokemon['Legendary'] == False]['Total'],pokemon[pokemon['Legendary'] == True]['Total'],equal_var= False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

#Your conclusions here:
The small p-value (<0.0001) force us to reject H0 and thus accept that both means are different.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [18]:
# Your code here:
pokemon.groupby('Type 1').count().sort_values(by= '#', ascending= False)

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Water,112,112,53,112,112,112,112,112,112,112,112,112
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Flying,4,4,2,4,4,4,4,4,4,4,4,4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [23]:
# Your code here:
pokemon[pokemon['Type 1']== 'Water']['Total'].mean()

430.45535714285717

In [24]:
pokemon[pokemon['Type 1']== 'Water']['Total'].std()

113.18826606431458

In [26]:
pokemon[pokemon['Type 1']!= 'Water']['Total'].mean()

435.85901162790697

In [27]:
pokemon[pokemon['Type 1']!= 'Water']['Total'].std()

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [ ]:
H0 = both means are equal
H1 = both means are different

In [28]:
# Your code here:
st.ttest_ind(pokemon[pokemon['Type 1']== 'Water']['Total'], pokemon[pokemon['Type 1']!= 'Water']['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

 Your conclusions here:
As we get a high p-value (>0.0001), we cannot reject H0, and thus we accept that both means are equal.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [11]:
# Your code here:
H0: defense and attack scores are equal
H1 : defense and attack scores are different

In [29]:
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

 Your conclusions here:
The small value of p-value (<0.001) force us to reject H0 and thus accept that defense and attack scores are different.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [30]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

 Your code here:

H0: special defense and special attack scores are equal
H1 : special defense and special attack scores are different

In [31]:
st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

 Your conclusions here:

The high value of the p-value (> 0.001) force us not to reject H0 and thus accept that the mean of the special defense and the special attack are equal.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [34]:
# Your code here:
pokemon['dif_atk_def'] = pokemon.apply(lambda x: x['Attack']-x['Defense'], axis=1)

H0: the difference is 0
H1: the difference is not 0.

In [35]:
st.ttest_1samp(pokemon['dif_atk_def'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

The result is exactly the same as the one performed in the previous calculation. The p-value is very small (<0.0001) and thus, we reject H0 and we accept that the difference between attack and defense is not 0.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [48]:
pokemon2 = pokemon.copy()

In [49]:
pokemon2['Water'] = pokemon2.apply(lambda x: True if x['Type 1']== 'Water' else False, axis=1)

In [53]:
# Your code here:
pd.crosstab(pokemon2['Legendary'], pokemon2['Water'])

Water      False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

H0: Both freq are equal. Being a Legendary is equal probable regarding the type Water.
H1: Both freq are not equal. Being a Legendary is not equal probable regarding the type Water.

In [54]:
# Your code here:
st.chi2_contingency(pd.crosstab(pokemon2['Legendary'], pokemon2['Water']))

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

 Your answer here:
Taking an alpha of 0.05 (and then, 0.05 < p-value 0.08, we cannot reject the hypothesis H0, and thus we accept that the frequency of being a Legendary for non-water pokemon is the same that for water pokemon.